/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 2em;
    margin-top:4em;
    

}

.foto{

 width: 250px;
 margin-bottom:0px;
 padding-top:0;
 
 position:absolute; top:O;left:2em;

}



.logo{
    position:absolute;left:220px;top: 210px;
}

.sedyramecek{
    width: 250px;
    height:738px;
    background-color:#31363a;
    box-shadow: black 2px 3px 3px;

}

.jmeno{
    padding-left:22px;
    padding-top: 210px;
    font-size: 1.5rem;
    color: white;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

}

p{
    font-size: 0,9rem;
    color:#bec3c7;
    padding: 20px 20px 30px 20px;
    line-height: 1.5;
    padding-top: 20px;
}

.prvniodstavec{
    padding-bottom: 15px;
    
}

.druhyodstavec{
    padding-top:0;
}
.odkazy{
    margin:0;
    padding: 0;
    text-align:center;
    align-items:center;
}

.odkazy li{
    display:inline-block;
    text-align:center;
    align-items:center;
    height:40x;
    margin:0;
      
}

.odkazy a{
    text-align:center;
    justify-content:center;
    align-items:center;
    color:white;
    text-decoration: none;
    line-height: 3;
    padding: 10px;
        
}



.portfolio{
border-top: 1px solid #3f464d; 
border-bottom: 1px solid #3f464d; 
width:250px;
}

.facebook{
    width: 123px;
}

.twitter{
    width:123px; 
}

.portfolio:hover{
    background-color:#e74c3c;
    width:250px;
    
}

.facebook:hover{
    background-color: #3b5998;
    width:123px;

}
 
 .twitter:hover{
     background-color:#1da1f2;
     width:123px;
    
 }





 